*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    height: 46px;
    width: 100%;
    background-color:white;
    position:absolute;
    top: 0%;
}
#icone{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: solid 1px white;
    float: left;
    
}
.hamburguer{
    background-color: black;
    height: 7px;
    border-radius: 4px;
    width: 33px;
    display: block;
    margin-left: 5px;
    margin-top: 4px;
}
#caixaMenu{
    background-color: white;
    height: 200px;
    width: 150px;
    /* display: none; */
    text-align: center;
    opacity: 0;
    visibility: hidden; 
    /* border-radius: 10px; */
}
#icone:hover {
    cursor: pointer;
}
#icone:hover > #caixaMenu{
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

.menuItem{
    height: 30px;
    width: inherit;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    list-style: none;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
a{
    color: black;
    text-decoration: none;
}
#titulo{
    width: 900px;
    /* border: solid 1px black; */
    height:45px;
    text-align: center;
    font-size: 2em;
    padding-top: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;  
    margin-left: auto;
    margin-right: auto;
}


main{
    width: 400px;
    min-height: 200px;
    /* margin-top: 20vh;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding-top: 20px;
    text-align: center;
    background-color: #0009;
}
div{
    padding-top: 10px;
}
#btnCalcular{
    outline: none;
    border: none;
    padding: 2px;
    color: white;
    background-color: #3f87a6;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer; 
}
body{
        width: 100vw;
        height: 100vh;
        background: radial-gradient( #3f87a6 , black);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
h1{
    width: inherit;
    min-height: 50px;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}
footer{
    width: inherit;
    min-height: 50px;
    padding: 10px;
    /* background-color: #0009; */
    border-radius: 0px 0px 20px 20px;
}
lable{
    color: white;
}
